*{
  box-sizing: border-box;
}
.Task{
  padding: 100px 400px;
  background-color: #F0F2F5;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
header h2{
  font-size: 45px;
  font-weight: 700;
}
